version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
    groups:
      # https://github.blog/2023-08-24-a-faster-way-to-manage-version-updates-with-dependabot/
      # https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#groups
      kotlin:
        patterns:
          - "org.jetbrains.kotlin:*"
      moshi:
        patterns:
          - "com.squareup.moshi:*"
      okio:
        patterns:
          - "com.squareup.okio:*"
